*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flexslider{
    position: relative;
    width: 100%;
    height: 500px;
    
}
/* home.css */
.hero-section {
    padding: 60px 0;
  }
  
.hero_content {
    text-align: left;
  }
  
.hero_title {
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
  }
  
.hero_description {
    font-size: 18px;
    margin-top: 10px;
  }
  
.hero_subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
.location-section {
    padding: 60px 0;
  }
  
.location {
    text-align: center;
  }
  
  .location_title {
  font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
.location_description {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
.location_map {
    border: none;
    width: 100%;
    height: 450px;
    border-radius: 10px;
  }
.hero_content h4{
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: var(--heading-color);
    
}
.hero_content p {
    font-size: 1.0rem;
    color: black;
    line-height: 2rem;
}
.hero_img-box img {

  width: 100%;
  height: 350px;
  border-radius: 20px;
  border: 1px solid var(--secondary-color);
  object-fit: cover;
}
.hero_content {
    padding-top: 3.5rem;
}
.detail-service{
    display: inline-block;
    box-sizing: border-box;
}
.detail-service i{
    margin-right: 5px;
    color: var(--secondary-color)  ;
    font-size: 22px;
}
.detail-service span {
    display: flex;
    align-items: center;
}

.best-sale h2{
  text-align: left;
  color:var(--heading-color); 
  font-size:30px; 
  font-weight:600;
  text-transform: uppercase;
  word-spacing: 1px; letter-spacing:2px; 
 
}
.best-sale h2 span{
  line-height:2em; padding-bottom:15px;
  text-transform: none;
  font-size:.7em;
  font-weight: normal;
  font-style: italic; font-family: "Playfair Display","Bookman",serif;
  color:#999; letter-spacing:-0.005em; word-spacing:1px;
  letter-spacing:none;

}
.Ship p{
  font-size: 18px;
  font-weight: bold;
}
.transpost{
  display: flex;
  font-size: 15px;
}
.transpost i{
  color:#BB0000;
  margin-right: 5px;
}
.img-delivery{
  display: flex;
  position: relative;
  margin-top: 50px;
  object-fit: cover;
  flex-grow: 1;
  margin-left: 0px;
}
.img-delivery img{
  position: absolute;
  top:100%;
  width: 130px;
  height: 200px;
  border-radius: 5%;
  right:10px;
}


