*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.col-title{
    margin-top: 10px;
    width: 100%;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.top-title{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.img-user{
    position: absolute;
    left: 15%;
    pointer-events: none;
}
.img-user img {
    border-radius: 50%;
    width:50px;
    height: 50px;
}
.img-user i{
    font-size: 50px;
}
.user-name{
   
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 35%;
}
.user-name span{
    font-size: 1.3rem;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500; 
}
.between-title{
    position: relative;
    line-height: 40px;
}
.info-accout,.charge-pass,.order{
    margin-left: 10px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}
.info-accout i{
    color: var(--heading-color);
    margin-right:5px;
    
}
.charge-pass i{
    color:#EEC900;
    margin-right: 5px;
}
.order i{
    color: #CD5555;
    margin-right: 5px;
}
.detail-section {
    margin-top: 20px;
    display: none; 
  }
  
  .detail-section.show {
    display: block; 
  }
  .detail-section .info-row {
    margin-bottom: 10px;
  }
  
  .detail-section .info-label {
    font-weight: bold;
    margin-right: 10px;
  }